/* custom styles in css */
.homeimg{
  text-align:center;
  font-size: 16px;
   padding-bottom: 5px;
}
.icon.ion-ios-heart-outline{
  margin:260px;
}

.icon.ion-ios-star-outline{
  margin:280px;
}

.icon.ion-asterisk{
  margin:260px;
}

.icon.ion-thumbsup{
  margin:220px;
}
.icon.ion-icecream{
  margin:240px;
}

/*.button.button-block{
  width:50%;
  margin:0px 150px 20px;
}*/
.logo{
	text-align:center;
	font-size: 100px;
	padding-bottom: 60px;
}

.bar-footer .button.button-block{
    margin: 0;
}

#map {
    display: block;
    width: 450px;
    height:750px;
}
.scroll {
    height: 100%;
}

/*body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
/*
 * http://docs.angularjs.org/api/ng/directive/ngShow#usage_animations
 */

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}

.list .item.item-accordion.ng-hide {
  line-height: 0px;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}